%appearence {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

%basic-h {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.16px;
    line-height: 24px;
}

%transition {
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}